@using Senparc.Weixin.MP.Sample.Models
@{
    Layout = null;
    var order = default(Senparc.Weixin.MP.Sample.CommonService.Domain.Models.AirOrder);
}
@if (ViewData["order"] is Senparc.Weixin.MP.Sample.CommonService.Domain.Models.AirOrder)
{
     order = (Senparc.Weixin.MP.Sample.CommonService.Domain.Models.AirOrder)ViewData["order"];
}
<!DOCTYPE html>
<html>
<head>
    <title>2016珠海航展第十一届官方门票价格_-奇比拉微信支付</title>
    <meta http-equiv="Content-Type" content="text/html; charset=GBK"/>
    <script language="javascript" src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript"></script>
    @*<script language="javascript" src="https://raw.githubusercontent.com/tuupola/jquery_lazyload/master/jquery.lazyload.min.js" type="text/javascript"></script>*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <link rel="stylesheet" href="/assets/styles/public.css">
    <link rel="stylesheet" href="/assets/styles/payResult.css">
    <link rel="stylesheet" href="/assets/styles/sm-extend.min.css">
    <script language="javascript" type="text/javascript">
    function auto_remove(img) {
        div = img.parentNode.parentNode; div.parentNode.removeChild(div);
        img.onerror = "";
        return true;
    }

    function changefont(fontsize) {
        if (fontsize < 1 || fontsize > 4) return;
        $('#content').removeClass().addClass('fontSize' + fontsize);
    }

    // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        //公众号支付
        $('div.submitBotton').click(function (e) {
            WeixinJSBridge.invoke('getBrandWCPayRequest', {
                "appId": "@ViewData["appId"]", //公众号名称，由商户传入
                "timeStamp": "@ViewData["timeStamp"]", //时间戳
                "nonceStr": "@ViewData["nonceStr"]", //随机串
                "package": "@Html.Raw(ViewData["package"])",//扩展包
                "signType": "MD5", //微信签名方式:MD5
                "paySign": "@ViewData["paySign"]" //微信签名

            }, function (res) {

                if (res.err_msg == "get_brand_wcpay_request:ok") {
                    alert('订单号【' + @order.OrderNo + '】支付成功!');
                    document.location.href = '@Url.Action("NotifyOrderSuccess", "TenPayV3", new
                                              {
                                                  orderNo = order.OrderNo
                                              
                                              })';

                }
                // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回ok，但并不保证它绝对可靠。
                //因此微信团队建议，当收到ok返回时，向商户后台询问是否收到交易成功的通知，若收到通知，前端展示交易成功的界面；若此时未收到通知，商户后台主动调用查询订单接口，查询订单的当前状态，并反馈给前端展示相应的界面。
            });

        });

        WeixinJSBridge.log('yo~ ready.');

    }, false);
    if (jQuery) {
        jQuery(function () {
            var width = jQuery('body').width() * 0.87;
            jQuery('img').error(function () {
                var self = jQuery(this);
                var org = self.attr('data-original1');
                self.attr("src", org);
                self.error(function () {
                    auto_remove(this);
                });
            });
            jQuery('img').each(function () {
                var self = jQuery(this);
                var w = self.css('width');
                var h = self.css('height');
                w = w.replace('px', '');
                h = h.replace('px', '');
                if (w <= width) {
                    return;
                }
                var new_w = width;
                var new_h = Math.round(h * width / w);
                self.css({ 'width': new_w + 'px', 'height': new_h + 'px' });
                self.parents('div.pic').css({ 'width': new_w + 'px', 'height': new_h + 'px' });
            });
        });
    }
    </script>
</head>
<body >
    <div class="page page-current">
        <!--头部 Start-->
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left" href="#" data-transition="slide-out"><span class="icon icon-left"></span></a><a class="pull-right close">关闭</a><a class="pull-right icon icon-refresh"></a>
            <h1 class="title">订单支付</h1>
        </header>
        <!--头部 End-->
        <section class="content">
            <div class="pay_Amount pay_top clearfix">
                <span>支付金额</span><span>￥@order.Amount.ToString() </span>
            </div>
            <p class="pay_Channel lineBlock">@order.Title</p>
            <div class="pay_Amount clearfix">


                <div class="pay-group">

                    <dl class="pay-list">
                        <dt class="p-name">订单编号：@order.OrderNo</dt>
                    </dl>
                </div>

                @*<div class="pay-group">
                    <dl class="pay-list">
                        <dt class="p-name"><strong>陈小宝</strong>231321654321544321</dt>
                    </dl>
                </div>

                <div class="pay-group">
                    <dl class="pay-list">
                        <dt class="p-name"><strong>宋小宝</strong>231321654321544321</dt>
                    </dl>
                </div>*@
            </div>
            <div class="pay-agreement">

            </div>
            <div class="submitBotton"><a href="javascript:;">微信支付</a></div>
        </section>
    </div>
    
</body>
</html>
